---
/**
 * Cloud provider logos as inline SVGs.
 * Grayscale by default, full color on hover.
 * Sources: simplified brand paths from simpleicons.org
 */
const providers = [
  {
    name: 'AWS',
    path: 'M6.763 10.073c0 1.018.082 1.842.225 2.456.164.614.368 1.288.654 2.022.102.164.123.328.123.491 0 .205-.061.41-.205.574l-1.107 1.227c-.164.205-.41.307-.654.307-.205 0-.41-.102-.574-.266-.41-.45-.715-.943-.983-1.434-.266-.491-.491-1.024-.695-1.617-.574.963-1.31 1.719-2.197 2.262-.887.543-1.864.815-2.934.815-1.66 0-3.016-.471-4.063-1.434-1.046-.963-1.579-2.241-1.579-3.834 0-1.7.574-3.077 1.741-4.122 1.167-1.045 2.893-1.538 5.156-1.538.533 0 1.066.041 1.619.103.553.061 1.127.164 1.741.287 0-.655.082-1.248.246-1.781.164-.533.41-.963.736-1.29.328-.327.737-.574 1.209-.738.471-.164 1.024-.246 1.658-.246.205 0 .41.021.634.041.225.021.41.061.614.103.205.041.41.082.614.143.205.061.389.123.553.205l-.041 1.475c-.266-.082-.533-.143-.799-.184-.266-.041-.533-.061-.799-.061-.41 0-.778.061-1.107.184-.328.123-.594.307-.799.553-.205.246-.369.574-.471.963-.103.389-.164.86-.164 1.414v.717zm-3.523 5.461c.574 0 1.127-.143 1.68-.41.553-.266 1.086-.655 1.599-1.167.205-.225.369-.491.471-.799.103-.307.164-.695.164-1.167v-.799c-.471-.103-.92-.184-1.35-.225-.43-.041-.84-.061-1.229-.061-1.434 0-2.519.266-3.236.799-.717.533-1.066 1.29-1.066 2.262 0 .92.246 1.617.758 2.109.491.491 1.209.738 2.109.738zm9.545 1.227c-.205 0-.369-.061-.491-.184-.123-.123-.205-.307-.246-.533l-2.519-12.381c-.041-.123-.061-.246-.061-.348 0-.164.061-.307.184-.41.123-.103.266-.164.43-.164h2.063c.225 0 .41.061.533.184.123.123.205.307.246.533l1.7 6.781 1.599-6.781c.061-.225.164-.41.287-.533.123-.123.328-.184.553-.184h1.475c.225 0 .41.061.553.184.123.123.225.307.287.533l1.599 6.781 1.7-6.781c.041-.225.123-.41.246-.533.123-.123.307-.184.533-.184h2.063c.164 0 .307.061.43.164.123.103.184.246.184.41 0 .102-.021.225-.041.348l-2.519 12.381c-.041.225-.123.41-.246.533-.123.123-.307.184-.533.184h-1.941c-.225 0-.41-.061-.553-.184-.123-.123-.225-.307-.266-.533l-1.599-6.679-1.599 6.679c-.061.225-.164.41-.287.533-.123.123-.328.184-.553.184h-1.941zm15.527.41c-1.107 0-2.109-.123-3.016-.369-.902-.246-1.599-.533-2.063-.86-.266-.164-.45-.348-.533-.533-.082-.184-.123-.368-.123-.553v-.963c0-.41.143-.614.43-.614.082 0 .205.021.328.061.123.041.307.123.491.205.654.287 1.39.533 2.181.695.799.164 1.599.246 2.419.246 1.29 0 2.282-.225 2.975-.675.695-.45 1.066-1.107 1.066-1.941 0-.574-.184-1.045-.553-1.434-.369-.389-1.066-.758-2.083-1.107l-2.995-1.066c-1.517-.533-2.643-1.29-3.34-2.262-.695-.963-1.045-2.042-1.045-3.2 0-.92.205-1.741.614-2.437.41-.695.963-1.29 1.658-1.741.695-.45 1.473-.799 2.36-1.024.887-.225 1.823-.328 2.811-.328.491 0 1.004.021 1.495.061.491.041.963.103 1.434.164.45.061.881.143 1.29.225.41.082.778.164 1.107.246.205.061.41.143.574.225.164.082.328.205.43.328.123.123.225.266.287.41.061.143.102.328.102.491v.902c0 .41-.143.614-.43.614-.143 0-.369-.061-.654-.184-.963-.43-2.063-.655-3.279-.655-1.227 0-2.181.205-2.834.614-.654.41-.983 1.045-.983 1.941 0 .574.205 1.066.614 1.455.41.389 1.167.778 2.262 1.127l2.934 1.045c1.495.533 2.581 1.27 3.236 2.181.654.911.983 1.967.983 3.139 0 .963-.205 1.823-.614 2.565-.41.741-.963 1.37-1.679 1.862-.717.491-1.538.86-2.48 1.107-.943.246-1.926.389-3.036.389z',
    color: '#FF9900',
    viewBox: '0 0 100 60',
  },
  {
    name: 'Google Cloud',
    path: 'M14.012 14.484c-1.84-.512-3.758-.512-5.598 0-.164.041-.328.123-.491.205-.164.082-.328.205-.43.328-.123.123-.225.266-.287.41-.061.143-.102.328-.102.491v.902c0 .41-.143.614-.43.614-.143 0-.369-.061-.654-.184-.963-.43-2.063-.655-3.279-.655-1.227 0-2.181.205-2.834.614-.654.41-.983 1.045-.983 1.941 0 .574.205 1.066.614 1.455.41.389 1.167.778 2.262 1.127l2.934 1.045c1.495.533 2.581 1.27 3.236 2.181.654.911.983 1.967.983 3.139 0 .963-.205 1.823-.614 2.565-.41.741-.963 1.37-1.679 1.862-.717.491-1.538.86-2.48 1.107-.943.246-1.926.389-3.036.389-1.107 0-2.109-.123-3.016-.369-.902-.246-1.599-.533-2.063-.86-.266-.164-.45-.348-.533-.533-.082-.184-.123-.368-.123-.553v-.963c0-.41.143-.614.43-.614.082 0 .205.021.328.061.123.041.307.123.491.205.654.287 1.39.533 2.181.695.799.164 1.599.246 2.419.246 1.29 0 2.282-.225 2.975-.675.695-.45 1.066-1.107 1.066-1.941 0-.574-.184-1.045-.553-1.434-.369-.389-1.066-.758-2.083-1.107l-2.995-1.066c-1.517-.533-2.643-1.29-3.34-2.262-.695-.963-1.045-2.042-1.045-3.2 0-.92.205-1.741.614-2.437.41-.695.963-1.29 1.658-1.741.695-.45 1.473-.799 2.36-1.024.887-.225 1.823-.328 2.811-.328.491 0 1.004.021 1.495.061.491.041.963.103 1.434.164.45.061.881.143 1.29.225.41.082.778.164 1.107.246.205.061.41.143.574.225.164.082.328.205.43.328.123.123.225.266.287.41.061.143.102.328.102.491z',
    color: '#4285F4',
    viewBox: '0 0 100 60',
  },
  {
    name: 'Azure',
    path: 'M22.5 0L9 22.5l13.5 4.5L18 45l13.5-22.5L18 18z',
    color: '#0078D4',
    viewBox: '0 0 36 45',
  },
  {
    name: 'Alibaba Cloud',
    path: 'M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z',
    color: '#FF6A00',
    viewBox: '0 0 24 24',
  },
  {
    name: 'Docker',
    path: 'M13.4 16.6h2.4v-2.4h-2.4v2.4zm0-3h2.4v-2.4h-2.4v2.4zm0-3h2.4V8.2h-2.4v2.4zm-3 3h2.4v-2.4h-2.4v2.4zm0-3h2.4V8.2h-2.4v2.4zm0-3h2.4V5.2h-2.4v2.4zm-3 6h2.4v-2.4H7.4v2.4zm0-3h2.4V8.2H7.4v2.4zm0-3h2.4V5.2H7.4v2.4zm-3 3h2.4v-2.4H4.4v2.4zm0-3h2.4V8.2H4.4v2.4zm0-3h2.4V5.2H4.4v2.4zm-3 3h2.4v-2.4H1.4v2.4zm0-3h2.4V8.2H1.4v2.4zm0-3h2.4V5.2H1.4v2.4zm15.6 6.6c-.6 0-1.2.2-1.8.6-.6.4-1 .8-1.4 1.4-.4.6-.6 1.2-.6 1.8 0 .6.2 1.2.6 1.8.4.6.8 1 1.4 1.4.6.4 1.2.6 1.8.6.6 0 1.2-.2 1.8-.6.6-.4 1-.8 1.4-1.4.4-.6.6-1.2.6-1.8 0-.6-.2-1.2-.6-1.8-.4-.6-.8-1-1.4-1.4-.6-.4-1.2-.6-1.8-.6z',
    color: '#2496ED',
    viewBox: '0 0 24 24',
  },
  {
    name: 'Kubernetes',
    path: 'M10.204 14.35l-3.4-.57 2.7-2.04.7 2.61zm.85-3.16l-.43-3.18 2.87 1.7-2.44 1.48zm-1.18 4.95l2.13 2.4-3.32-.04 1.19-2.36zm.35-.8l-.7-2.62-2.7 2.04 3.4.58zm4.95-3.96l-2.87-1.7.43 3.18 2.44-1.48zm.66 1.1l-2.13-2.4 3.32.04-1.19 2.36zm.69 4.85l-3.32.04 2.13-2.4 1.19 2.36zm.35-.8l-3.4-.57.7-2.62 2.7 2.04zm-3.6-4.7l-.7-2.61 2.7 2.04-2 .57zm-1.2-2.61l-.7 2.61-2-1.04 2.7-1.57zm-1.55 3.4l-2.87 1.7.43-3.18 2.44 1.48zm6.3 1.7l-2.87-1.7 2.44-1.48.43 3.18zm-3.15-7.4l-3.32-.04 2.13-2.4 1.19 2.44zm-3.67 1.6l2.13-2.4 1.19 2.44-3.32-.04zM12 2L2 7v10l10 5 10-5V7L12 2z',
    color: '#326CE5',
    viewBox: '0 0 24 24',
  },
];
---

<div class="flex flex-wrap items-center justify-center gap-6 md:gap-10">
  {providers.map((p) => (
    <div
      class="group flex flex-col items-center gap-2 transition-all duration-300 hover:scale-110"
      title={p.name}
    >
      <svg
        class="h-10 w-10 opacity-40 grayscale transition-all duration-300 group-hover:opacity-100 group-hover:grayscale-0"
        viewBox={p.viewBox}
        fill="currentColor"
        style={`color: ${p.color};`}
      >
        <path d={p.path} />
      </svg>
      <span class="text-xs text-slate-500 transition-colors duration-300 group-hover:text-slate-300">{p.name}</span>
    </div>
  ))}
</div>
